{% extends 'SuperBundle::adminpanel.html.twig' %}
{% block title %}New Page{% endblock %}
{% block body %}
    <h1>Edit Page</h1>
    <div class="formulaire">
        {{ form_start(form) }}
        <div>
            <div>
                {{ form_label(form.title) }}
            </div>
            <div class="title_input">
                {{ form_errors(form.title) }}
                {{ form_widget(form.title, { 'attr': { 'maxlength' : 30, 'size' : 40, 'value': pageinfo.title } })  }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.content, "Content") }}
            </div>
            <div>
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>
        </div>
        <div>
            <div>
                {{ form_label(form.categorie, "Category") }}
            </div>
            <div>
                {{ form_errors(form.categorie) }}
                {{ form_widget(form.categorie) }}
            </div>
        </div>
        <div>
            <br>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }} <input type="button" onclick='window.location.reload(false)' value="Restore"/>
        </div>
        {{ form_end(form)}}
    </div>
    <h1>Versionning</h1>
    <div class="list">
        <table>
            <tr>
                <th>Title :</th>
                <th>Slug :</th>
                <th>Category :</th>
                <th>Date :</th>
                <th>Type :</th>
                <th>Action :</th>
            </tr>
            {% for version in version %}
                <tr>
                    <td>{{ version.title }}</td>
                    <td>{{ version.slug }}</td>
                    <td>{{ version.categorie.name }}</td>
                    <td>{{ version.date|date("d/m/Y") }}</td>
                    <td>{{ version.type }}</td>
                    <td><a href="{{ path('super_page_review', {'id': version.id} ) }}"><input type="button" value="Review"></a> <a href="{{ path('super_page_restore', {'id': version.id } ) }}"><input type="button" value="Restore"></a> <a href="{{ path('super_page_delete', {'id': version.id} ) }}"><input type="button" value="Delete"></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
{% endblock %}

